<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Home Page</h1>
    <h5>Register Form</h5>
    <div>


      <form action="" method="post">
          {% csrf_token %}
           {{form.as_p}}
           <input type="submit" value="Submit">
        
      </form>
    </div>

    {% if messages %}
      <div>
          {% for message in messages %}
          <h2>{{ message }}</h2>
          
          {% endfor %}
      </div>
    {% endif %}

    <a href="{% url 'user_login' %}">Login</a>

</body>
</html>

